@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  	@apply bg-black text-gray-100 font-sans;
}

::-webkit-scrollbar {
  	width: 8px;
}

::-webkit-scrollbar-track {
  	background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  	background-color: #9c9970;
  	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  	background-color: #ffcc00;
}

.hero-list {
	scrollbar-width: thin;
	scrollbar-color: #9c9970 #1a1a1a;
}
